{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Career Tracker</title>
    <link rel="icon" href="{% static 'panel/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-nav">
            <div class="navbar-brand">
                MY CAREER TRACKER
            </div>
        </div>

        <div class="navbar-nav ml-auto">
            <div class="navbar-brand">
                C-bucks: {{ points.points }}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-3">
                <h3 class="text-center">My Progress</h3>
                <div class="list-group">
                    {% for task in tasks %}
                        <div class="list-group-item">
                            <h4>{{ task.title }}</h4>
                            {{ task.text }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-4">
                <h3 class="text-center">Upcoming Events</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Ignite Your Future - Industry-led Tutorials</h5>
                            <small>2019/02/13</small>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1">As part of the 'Ignite Your Future' event, this session presents industry-led tutorials on GitHub and AWS.</p>
                            <button class="btn btn-primary btn-sm" role="button">Sign Up</button>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Ignite Your Future - Industry Panel Event</h5>
                            <small>2019/02/14</small>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1">A panel event with a select group of industry professionals from the world of I.T. and Technology.</p>
                            <button class="btn btn-primary btn-sm" role="button">Sign Up</button>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Ignite Your Future - Networking Jive After 5</h5>
                            <small>2019/02/15</small>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1">Networking event with employers from the IT and Technology sectors.</p>
                            <button class="btn btn-primary btn-sm" role="button">Sign Up</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% for event in events %}
    {{event.title}}
    {{event.text}}
    {{event.date}}
    <br>
    {% endfor %}



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
