{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Career Tracker</title>
    <link rel="icon" href="{% static 'panel/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="navbar-brand" href="">My Career Tracker</a>
        </div>

        <div class="navbar-nav ml-auto mr-auto">
            <div class="navbar-brand">
                <img src="{% static 'panel/cbucks.png' %}" height="50px">
                {{ points.points }}
            </div>
        </div>

        <div class="navbar-nav">
            <img src="{% static 'panel/avatar.png' %}" height="50px" class="rounded-circle">
            <div class="navbar-brand ml-3">
                oskar
            </div>
        </div>
    </div>

    <div class="container-fluid mb-4">
        <div class="row mt-4">
            <div class="col-6">
                <h3 class="text-center">My Progress</h3>
                <div class="list-group">
                    {% for task in tasks %}
                        <div class="list-group-item">

                            <h4 style="display:inline;">{{ task.title }}</h4><p style="display:inline;float:right;">{{ task.points }} points</p><br>

                            {{ task.text }}
                            <br>
                            <form action="/complete_task/{{ task.id }}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary mt-2" value="Mark as completed">
                            </form>
                        </div>
                    {% endfor %}
                    <div class="list-group-item">
                        <form action="/add_task/" method="POST">
                        {% csrf_token %}
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" name="title" placeholder="Title">

                            </div>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" name="text" placeholder="Text">
                                <input type="number" class="form-control" name="points" placeholder="C-Bucks">
                            </div>

                            <input type="submit" class="btn btn-primary btn-block">
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-6">
                <h3 class="text-center">Upcoming Events</h3>
                <div class="list-group">
                    {% for event in events %}
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">{{event.title}}</h5>
                            <small>{{event.date}}</small>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <div>
                            <p class="mb-1">{{event.text}}</p></div><div class="w-50">
                            <a href="https://www.liverpool.ac.uk/careers/" class="btn btn-primary btn-sm ml-5" role="button" style="float:right;">Sign Up</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
